html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  font-family: "SourceSans3", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 0 0 auto;
}
.gradient_style {
  flex: 1;
}

.footer__section,
.black__footer__section {
  flex-shrink: 0;
}

.swal2-popup {
  width: 25em;
  border-radius: 10px;
}

.swal2-icon {
  margin: 1.5em auto 0.6em;
}

.swal2-title {
  font-size: 20px;
  color: #000;
}

.swal2-html-container {
  font-size: 15px;
  font-weight: 500;
  color: #000;
}

.swal2-confirm {
  font-size: 15px;
  background-color: #7f0210;
  margin: 0;
  border-radius: 5px;
  padding: 6px 20px;
}

.swal2-confirm:hover {
  background-color: #7f0210;
}

@font-face {
  font-family: "PlayFair";
  src: url("../src/assets/fonts/static/PlayfairDisplay-MediumItalic.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans3";
  src: url("../src/assets/fonts/static/SourceSans3-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SourceSans3";
  src: url("../src/assets/fonts/static/SourceSans3-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SourceSans3";
  src: url("../src/assets/fonts/static/SourceSans3-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SourceSans3";
  src: url("../src/assets/fonts/static/SourceSans3-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SourceSans3";
  src: url("../src/assets/fonts/static/SourceSans3-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

.App .container {
  max-width: 1650px;
}

.page-wrapper {
  margin-top: 110px;
}

@media screen and (max-width: 991px) {
  .page-wrapper {
    margin-top: 96px;
}
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}


@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-450px * 1));
  }
}


@media (max-width: 402px) {
  .donation-working .card {
    min-width: 200px;
  }
}

/* #################### ERaktkosh-login #################### */

.loginSection {
  padding-top: 25px;
  padding-bottom: 40px;
}

.loginSection form {
  margin: 0 auto;
}

/* .option {
    color: #5B5B5B;
    font-size: 16px;
} */

.loginSection .minimise-text {
  text-align: center;
}

@media (max-width: 1024px) {
  .loginSection .input-group {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .minimise-text {
    display: none;
  }
}

.password-section .modal-dialog {
  max-width: 894px;
}

.password-section .modal-content {
  border-radius: 8px;
  border: 2px solid #7f0210;
  background: #fff;
  box-shadow: 0px 2px 13.2px 0px rgba(0, 0, 0, 0.14);
}

.password-section .modal-content .modal-header {
  border: none;
}

.password-section .modal-content .modal-title {
  color: #c0222b;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}

.password-section .modal-content .modal-footer {
  border: none;
  justify-content: center;
  align-items: center;
}

.password-section .modal-content .modal-footer .btn {
  min-width: 152px;
}

.password-section .captcha-container .input-group {
  width: 152px;
}

.password-section .refresh-img {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.refresh-img.rotate {
  transform: rotate(180deg);
}

.password-section form {
  margin: 0 auto;
}

.form-label {
  color: #000;
  font-size: 12px;
  font-weight: 400;
}

.input-group {
  padding: 10px 12px;
  max-width: 312px;
  border-radius: 4px;
  border: 1px solid #bfc1c5;
  background: rgba(255, 255, 255, 0.08);
}

.input-group .form-control {
  color: #6d7078;
  font-size: 16px;
  border: none;
}

.input-group .form-control:focus {
  box-shadow: none;
}

.btn-primary-signIn {
  border-radius: 4px;
  background: #7f0210;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.btn-primary-signIn:hover {
  background: #7f0210;
  color: #fff;
}

.btn-primary-outline {
  color: #7f0210;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #7f0210;
}

.btn-primary-outline:hover {
  border: 1px solid #7f0210;
  background-color: rgba(127, 2, 16, 0.08);
  color: #7f0210;
}

@media (max-width: 768px) {
  .password-section .captcha-box {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .password-section .form-container {
    width: 100%;
  }

  .password-section .captcha-container {
    display: block;
  }

  .password-section .input-group {
    width: 100%;
  }

  .password-section .captcha-container .input-group {
    width: 100%;
  }

  .password-section .modal-footer .btn {
    width: 100%;
  }
}

/* ################## Donor Register ##################### */

.donorRegistration .form-box {
  border-radius: 16px;
  border: 1px solid #e8e8e8;
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(13, 13, 13, 0.08);
}

.dropdown .btn {
  border-radius: 4px;
  border: 1px solid #bfc1c5;
  color: #6d7078;
  font-size: 16px;
}

.dropdown .btn:active {
  border: 1px solid #bfc1c5;
}

.dropdown .dropdown-toggle::after {
  content: url("");
  border-top: none;
}

.dropdown .dropdown-item:active {
  background-color: #9f4751;
}

.form-inputs .form-control {
  border-radius: 4px;
  border: 1px solid #bfc1c5;
  padding: 6.729px 10.093px;
}

.form-inputs .form-control:focus {
  box-shadow: none;
}

/* antd Dropdown --------------------------------- */

.ant-space-item {
  width: 100%;
}

.ant-select-selector {
  border-radius: 4px;
  border: 1px solid #bfc1c5;
}

.ant-select-single {
  height: 35px;
}

.mandatory {
  color: #ef5350;
  font-size: 15px;
  font-weight: 600;
}
