html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  font-family: "SourceSans3", sans-serif;
}

.swal2-popup {
  width: 25em;
  border-radius: 10px;
}

.swal2-icon {
  margin: 1.5em auto 0.6em;
}

.swal2-title {
  font-size: 20px;
  color: #000;
}

.swal2-html-container {
  font-size: 15px;
  font-weight: 500;
  color: #000;
}

.swal2-confirm {
  font-size: 15px;
  background-color: #7f0210;
  margin: 0;
  border-radius: 5px;
  padding: 6px 20px;
}

.swal2-confirm:hover {
  background-color: #7f0210;
}

@font-face {
  font-family: "PlayFair";
  src: url("../src/assets/fonts/static/PlayfairDisplay-MediumItalic.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SourceSans3";
  src: url("../src/assets/fonts/static/SourceSans3-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SourceSans3";
  src: url("../src/assets/fonts/static/SourceSans3-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "SourceSans3";
  src: url("../src/assets/fonts/static/SourceSans3-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SourceSans3";
  src: url("../src/assets/fonts/static/SourceSans3-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SourceSans3";
  src: url("../src/assets/fonts/static/SourceSans3-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

.App .container {
  max-width: 1440px;
}

.page-wrapper {
  margin-top: 136px;
}

@media screen and (max-width: 1118px) {
  .page-wrapper {
    margin-top: 96px;
}
}

/* ########################### header section ########################### */

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #7f0210;
  box-shadow: 0px 0px 24px 0px rgba(127, 2, 16, 0.12);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

/* `````````````````````````` */

#menu-bar {
  display: none;
}

.header label {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: none;
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
}

/* #################### donorCount ######################### */

.donorCount .bg-right {
  background-color: #7f0210;
  position: relative;
}

.donorCount .bg-left {
  background-color: #e2b0ac;
}

.donorCount .bg-right::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -39px;
  width: 0px;
  height: 89px;
  border-top: 88px solid transparent;
  border-right: 40px solid #7f0210;
}

.count_time {
  font-size: 12px;
  font-weight: 500;
  color: #7f0210;
}

.count_time .time {
  font-weight: 600;
}

.donorCount .count {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.donorCount .totalCount {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
}

/* ############################ service sectionb ########################### */

.service {
  position: relative;
}

.service .bg-img {
  background-image: url("../public/assets/images/service-bg.png");
  background-size: cover;
  background-position: center;
  min-height: 350px;
  position: relative;
}

.service .container {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.service .section-heading {
  color: #9b030c;
  font-weight: 600;
  font-size: 40px;
}

.service .card {
  padding-top: 36px;
  padding-bottom: 27px;
  border-radius: 8px;
  border: 1px solid #f7f7f7;
  background: #fefefe;
  box-shadow: 0px 4px 24px 0px rgba(127, 2, 16, 0.12);
}

.card .card-box {
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.service .card .card-img-top {
  width: 72px;
  height: 72px;
}

.service .card .card-body {
  padding: 0;
}

.zoom-in {
  transform: scale(1.1);
}

/* ########################## about e-raktkosh ########################## */

.about-section {
  position: relative;
}

.about-section .bg-img {
  background-image: url("../public/assets/images/about-bg.png");
  background-size: cover;
  background-position: center;
  min-height: 570px;
  position: relative;
}

@media (max-width: 767px) {
  .about-section .bg-img {
    background-image: url("../public/assets/images/bg-about-res.png");
  }
}

.about-section .container {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.about-section .about-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-section .about-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 310px;
}

.about-section .section-heading {
  color: #9b030c;
  font-size: 40px;
  font-weight: 600;
}

.about-section .about-text {
  color: #270000;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.72px;
}

.about-section .readBtn {
  border-radius: 6px;
  border: 1px solid #c0222b;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.04);
  color: #c0222b;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.32px;
  padding: 8px;
}

/* ####################### learning donation ####################### */

.learn-donation {
  position: relative;
}

.learn-donation .bg-img {
  background-image: url("../public/assets/images/learn-bg.png");
  background-size: cover;
  background-position: center;
  min-height: 544px;
  position: relative;
}

.learn-donation .container {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.learn-donation .section-heading {
  color: #9b030c;
  font-size: 40px;
  font-weight: 600;
}

.learn-donation .label {
  color: rgba(43, 43, 43, 0.8);
  font-size: 16px;
  font-weight: 600;
}

.learn-donation .selectBtn {
  border-radius: 8px;
  border: 1px solid #c0222b;
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  padding: 18px 16px;
  color: #000;
  font-size: 20px;
  width: 94px;
  margin: 0 8px;
  transition: background 0.6s ease, color 0.6s ease;
}

.learn-donation .selectBtn:hover {
  border-radius: 8px;
  border: 1px solid #c0222b;
  background: #fed1d1;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
}

.learn-donation .selectBtn.active {
  border-radius: 8px;
  background: #c0222b;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.12);
  color: #fff;
}

.learn-donation .select-container {
  display: flex;
  justify-content: center;
  border-radius: 16px;
  border: 1px solid #f0f0f0;
  background: #fff;
}

.learn-donation .select-container .org-container {
  border-radius: 8px;
  background: #ffd4a1;
}

.learn-donation .select-container .org-container img {
  object-fit: contain;
}

.learn-donation .select-container .blue-container {
  border-radius: 8px;
  background: #9bc9ff;
}

.learn-donation .select-container .blue-container img {
  object-fit: contain;
}

.select-container .org-text {
  color: #000;
  margin: 0 10px;
  font-size: 24px;
  font-weight: 600;
}

.select-container .donate-blood-txt {
  color: #2b2b2b;
  font-size: 15px;
}

.select-container .donate-blood-txt span {
  color: #a91515;
  font-size: 15px;
}

/* ###################### donation working ###################### */

.donation-working {
  position: relative;
}

.donation-working .donation-bg-img {
  background-image: url("../public/assets/images/donation-wg-bg.png");
  background-size: cover;
  background-position: center;
  min-height: 435px;
  position: relative;
}

.donation-working .container {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.donation-working .section-heading {
  color: #242424;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.96px;
}

.donation-working .section-heading .donation {
  color: #c0222b;
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.96px;
}

.donation-working .card {
  border-radius: 16px;
  background: #fff;
  border: none;
  min-width: 380px;
}

.donation-working .card .card-text {
  color: #c0222b;
  font-size: 20px;
  font-weight: 600;
}

.donation-working .card .card-text-light {
  color: #2b2b2b;
  font-size: 16px;
}

/* ######################### Donation Type ######################### */

.donationType .section-heading {
  color: #9b030c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
  font-size: 40px;
  font-weight: 600;
}

.donationType .sectionTxt {
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 600;
}

.donationType .sectionTxt span {
  color: #a91515;
  font-size: 18px;
  font-weight: 600;
}

.donationType .tabs .nav {
  border-left: 1px solid rgba(205, 54, 46, 0.22);
}

.donationType .tabs .nav .nav-item .nav-link {
  color: #5b5b5b;
  font-size: 20px;
}

.donationType .tabs .nav .nav-item .nav-link.active {
  color: #cd362e;
  border-radius: 0px 8px 8px 0px;
  border-left: 3px solid #cd362e;
  background: #ffeeed;
  font-size: 20px;
  font-weight: 600;
}

.donationType .tabContent {
  border-radius: 32px;
  border: 1px solid #f0f0f0;
  background: #fff;
}

.donationType .tabContent .tabContainer {
  overflow-y: auto;
  max-height: 344px;
}

.donationType .searchBtn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.32px;
  border-radius: 6px;
  background: #c0222b;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.04);
  padding: 8px 16px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 6px;
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar {
  border-radius: 12px;
  border: 1px solid #b5b5b5;
  background: #e0dfdf;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
}

.donationType .tabContent .ques {
  color: #2b2b2b;
  font-size: 20px;
  font-weight: 600;
}

.donationType .tabContent .ans {
  color: #2b2b2b;
  font-size: 18px;
}

/* ######################## benefit section ######################## */

.carouselwrapper {
  background: #572f31;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carouselwrapper .carousel {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  animation: scrollLeft 10s ease-in-out 0s infinite alternate both running;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-450px * 1));
  }
}

.carouselwrapper .carousel .card {
  text-align: center;
  border-radius: 16px;
  border: 1px solid #efefef;
  background: #fff;
  flex: 0 0 auto;
  margin-right: 20px;
  width: 32%;
  min-height: 280px;
}

@media (min-width: 768px) {
  .about-section .about-box {
    max-width: 50%;
  }
}

@media (max-width: 1199px) {
  .arrow-container img {
    transform: rotate(90deg);
  }
}

@media (max-width: 991px) {
  .carouselwrapper .carousel .card {
    width: 38%;
  }
}

@media (max-width: 778px) {
  .carouselwrapper .carousel .card {
    width: 50%;
  }
}

@media (max-width: 490px) {
  .carouselwrapper .carousel .card {
    width: 70%;
  }
}

@media (max-width: 402px) {
  .donation-working .card {
    min-width: 200px;
  }
}

.carouselwrapper .card .card-txt {
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 600;
  line-height: 142.606%;
}

.carouselwrapper .card .card-txt-light {
  color: #2b2b2b;
  font-size: 20px;
  line-height: 142.606%;
}

.carouselwrapper .card .learnBtn {
  color: #c0222b;
  font-size: 12px;
  font-weight: 600;
}

.carouselwrapper .card .learnBtn:active {
  border: none;
}

/* ####################### footer section ####################### */

.App .footer {
  background: #ededed;
}

.footer .heading {
  margin-bottom: 24px;
  color: #1c1917;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.footer .footer-details {
  color: #78716c;
  font-size: 16px;
  letter-spacing: 0.4px;
  text-decoration: none;
  transition: text-decoration 0.6s ease, color 0.6s ease;
}

.footer .footer-details:hover {
  text-decoration: underline;
}

.footer .row-border {
  border-bottom: 1px solid #e7e5e4;
  margin-bottom: 24px;
}

.footer .footer-links {
  color: #78716c;
  font-size: 14px;
  line-height: 9px;
  text-decoration: none;
}

/* #################### ERaktkosh-login #################### */

.loginSection {
  padding-top: 25px;
  padding-bottom: 40px;
}

.loginSection form {
  margin: 0 auto;
}

/* .option {
    color: #5B5B5B;
    font-size: 16px;
} */

.loginSection .minimise-text {
  text-align: center;
}

@media (max-width: 1024px) {
  .loginSection .input-group {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .minimise-text {
    display: none;
  }
}

.password-section .modal-dialog {
  max-width: 894px;
}

.password-section .modal-content {
  border-radius: 8px;
  border: 2px solid #7f0210;
  background: #fff;
  box-shadow: 0px 2px 13.2px 0px rgba(0, 0, 0, 0.14);
}

.password-section .modal-content .modal-header {
  border: none;
}

.password-section .modal-content .modal-title {
  color: #c0222b;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
}

.password-section .modal-content .modal-footer {
  border: none;
  justify-content: center;
  align-items: center;
}

.password-section .modal-content .modal-footer .btn {
  min-width: 152px;
}

.password-section .captcha-container .input-group {
  width: 152px;
}

.password-section .refresh-img {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.refresh-img.rotate {
  transform: rotate(180deg);
}

.password-section form {
  margin: 0 auto;
}

.form-label {
  color: #000;
  font-size: 12px;
  font-weight: 400;
}

.input-group {
  padding: 10px 12px;
  max-width: 312px;
  border-radius: 4px;
  border: 1px solid #bfc1c5;
  background: rgba(255, 255, 255, 0.08);
}

.input-group .form-control {
  color: #6d7078;
  font-size: 16px;
  border: none;
}

.input-group .form-control:focus {
  box-shadow: none;
}

.btn-primary-signIn {
  border-radius: 4px;
  background: #7f0210;
  /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.04); */
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  /* transition: background-color 0.3sease, color 0.3sease, border 0.3sease; */
}

.btn-primary-signIn:hover {
  background: #7f0210;
  color: #fff;
}

.btn-primary-outline {
  color: #7f0210;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #7f0210;
}

.btn-primary-outline:hover {
  border: 1px solid #7f0210;
  background-color: rgba(127, 2, 16, 0.08);
  color: #7f0210;
}

@media (max-width: 768px) {
  .password-section .captcha-box {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .password-section .form-container {
    width: 100%;
  }

  .password-section .captcha-container {
    display: block;
  }

  .password-section .input-group {
    width: 100%;
  }

  .password-section .captcha-container .input-group {
    width: 100%;
  }

  .password-section .modal-footer .btn {
    width: 100%;
  }
}

.carousel-inner-container {
  position: relative;
  height: 72vh;
  display: flex;
}

.carousel-image,
.carousel-image.carousel-image-right {
  width: 50%;
}

.carousel-image img,
.carousel-image.carousel-image-right img {
  width: 100%;
  height: 100%;
}

.carousel-image-right img {
  display: block;
  width: 100%;
  clip-path: polygon(22% 0%, 100% 0%, 100% 100%, 70% 100%, 0 100%, 16% 27%);
  position: relative;
}

.heroComponent .carousel-indicators button {
  background-color: #7f0210;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-right: 7px;
}

.heroComponent .carousel-indicators button.active {
  opacity: 1;
}

.heroComponent .carousel-inner .carousel-caption {
  text-align: left;
  position: absolute;
  right: 5%;
  padding-bottom: 5.25rem;
}

.heroComponent .carousel-inner .carousel-caption .img-text {
  overflow: hidden;
  color: #353535;
  font-family: "PT Serif", serif;
  font-size: 48px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 104%;
  letter-spacing: -0.96px;
  margin: 0 0 5px;
}

.heroComponent .carousel-inner .carousel-caption .img-content {
  font-family: "PT Serif", serif;
  color: #353535;
  font-size: 20px;
  line-height: 130%;
  margin: 0;
}

.heroComponent .carousel-inner .carousel-caption .imgBtn {
  border-radius: 4px;
  background: #c0222b;
  box-shadow: 0px 4px 24px 0px rgba(192, 34, 43, 0.5);
  padding: 14.413px 21.619px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.4px;
  border: none;
}

.heroComponent .carousel-control-prev-icon {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}

.heroComponent .carousel-control-next-icon {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}

@media (max-width: 1201px) {
  .heroComponent .carousel-inner .carousel-caption .img-text {
    font-size: 35px;
  }

  .heroComponent .carousel-inner .carousel-caption .img-content {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .carousel-inner-container {
    height: 62vh;
  }

  .heroComponent .carousel-inner .carousel-caption .img-text {
    font-size: 25px;
  }

  .heroComponent .carousel-inner .carousel-caption .img-content {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .carousel-inner-container {
    height: 48vh;
  }

  .heroComponent .carousel-inner .carousel-caption .img-text {
    font-size: 18px;
  }

  .heroComponent .carousel-inner .carousel-caption .img-content {
    font-size: 8px;
  }
}

@media (max-width: 480px) {
  .carousel-inner-container {
    height: 20vh;
  }
}

/* ################## Donor Register ##################### */

.donorRegistration .form-box {
  border-radius: 16px;
  border: 1px solid #e8e8e8;
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(13, 13, 13, 0.08);
}

.dropdown .btn {
  border-radius: 4px;
  border: 1px solid #bfc1c5;
  color: #6d7078;
  font-size: 16px;
}

.dropdown .btn:active {
  border: 1px solid #bfc1c5;
}

.dropdown .dropdown-toggle::after {
  content: url("");
  border-top: none;
}

.dropdown .dropdown-item:active {
  background-color: #9f4751;
}

.form-inputs .form-control {
  border-radius: 4px;
  border: 1px solid #bfc1c5;
  padding: 6.729px 10.093px;
}

.form-inputs .form-control:focus {
  box-shadow: none;
}

/* antd Dropdown --------------------------------- */

.ant-space-item {
  width: 100%;
}

.ant-select-selector {
  border-radius: 4px;
  border: 1px solid #bfc1c5;
}

.ant-select-single {
  height: 35px;
}

.mandatory {
  color: #ef5350;
  font-size: 15px;
  font-weight: 600;
}
