.ant-btn-primary {
  font-size: 14px;
  font-weight: 500;
  background: #7f0210;
  border-radius: 5px;
  &:hover {
    background: #7f0210 !important;
  }
}
.ant-btn-secondary {
  font-size: 14px;
  font-weight: 500;
  background: #fff;
  color: #7f0210;
  border-radius: 5px;
  border: 1px solid #7f0210;
  &:hover {
    color: #7f0210;
    border: 1px solid #7f0210;
    background: #fff !important;
  }
}
.page_wrapper {
  .camp_header {
    font-size: 15px;
    font-weight: 500;
    color: #000;
  }
  .widget {
    background-color: #fff;
    border-radius: 5px;

    .ant-input-wrapper {
      .ant-input {
        background-color: #fff;
        font-size: 14px;
        font-weight: 500;
        padding: 5px 11px;
        border: 1px solid #e5e5e5;
        border-radius: 5px 0 0 5px;
      }

      .ant-input-group-addon {
        background-color: #fff;
        font-size: 15px;
        font-weight: 500;
      }
    }

    .mendate {
      color: #7f0210;
    }

    .ant-btn-default {
      border-radius: 5px;
      border: 1px solid #7f0210;
      color: #7f0210;
      font-weight: 500;
      &:hover {
        border: 1px solid #7f0210;
        color: #7f0210;
      }
    }

    .small_btn {
      border: 1px solid #7f0210;
      color: #7f0210;
      font-size: 12px;
    }

    .otpExpire {
      font-size: 14px;
      color: #484848;

      .timer {
        font-size: 14px;
        font-weight: 500;
        color: #7f0210;
      }
    }
  }
  .container-style {
    .key {
      font-size: 13px;
      color: #707070;
    }

    .value {
      font-size: 15px;
      color: #000;
      font-weight: 500;
    }

    .header_bg {
      background-image: url("../../public/assets/images/campHeader.svg");
      height: 90px;
      display: flex;
      align-items: center;
      width: 247px;

      p {
        font-size: 14px;
        line-height: 15px;
        font-weight: 500;
        color: #000;
      }

      a {
        color: #7f0210;
        font-size: 13px;
        font-weight: 500;
      }
    }
  }

  .ant-radio-wrapper {
    border: 1px solid #e1dfdf;
    border-radius: 5px;
    padding: 5px;
    background: #fff;
    font-weight: 500;
  }
  .custom-radio-group .ant-radio-wrapper:first-child {
    margin-bottom: 10px;
  }

  .otp_generated {
    font-size: 14px;
    color: #2ca308;
  }

  .abha-header {
    font-size: 16px;
    font-weight: 600;
  }

  .checkbox_modal {
    .ant-checkbox-wrapper {
      font-size: 15px;
      font-weight: 500;
    }
    .ant-btn-link {
      font-weight: 500;
      font-size: 15px;
      color: #7f0210;
      text-decoration: underline;

      &:hover {
        color: #7f0210;
      }
    }
  }

  .widget_ABHA {
    overflow-y: auto;
    max-height: 250px;
    background-color: #fff;
    border-radius: 5px;

    .ant-checkbox-wrapper {
      margin-bottom: 10px;
    }
  }

  .abha_txt {
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
  }

  .abha_txt_key {
    white-space: nowrap;
    color: #3479b5;
    font-size: 15px;
    font-weight: 600;
  }

  .abha_btn {
    background-color: #3479b5;

    &:hover {
      background-color: #3479b5 !important;
    }
  }

  .ant-btn-primary:disabled {
    color: #fff;
  }
}
