.body_wrapper{
    .ant-collapse{
        font-family: "SourceSans3", sans-serif;
        .ant-collapse-header-text{
            font-weight: 600;
            color: #000;
        }

        .ant-collapse-content-box{
            color: #000;
        }
    }
}