.page-wrapper {

    .section-header {
        font-size: 32px;
        line-height: 50px;
    }

    .bdrBtm{
        width: 100px;
        right: 27px;
        position: absolute;
    border-bottom: 1px solid #7F0210;
    }
}