@import "./variables.scss";

.section__heading {
  font-size: 28px;
  font-weight: 700;
  color: $highlight-color;
}

.btn__colored {
  font-family: "SourceSans3", sans-serif;
  background-color: $highlight-color;
  color: $white;
  font-weight: 500;
  border: none;
  font-size: 15px;
  padding: 20px;

  &:hover {
    background-color: $highlight-color !important;
    color: $white !important;
  }
}

.btn__outlined {
  font-family: "SourceSans3", sans-serif;
  font-size: 15px;
  padding: 20px;
  color: $highlight-color;
  border: $white-button-border;
  font-weight: 500;
  background-color: $color_transparent;

  &:hover {
    color: $highlight-color !important;
    border: $white-button-border !important;
  }
}

// header section...
main {
  font-family: "SourceSans3", sans-serif;
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
  .top_header {
    background-color: $header-bg-color;

    .tollFree {
      color: $primary-text-color;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .mid_header {
    background-color: $white;
    .divider {
      height: 54px;
      border-right: 2px solid $header-bg-color;
      width: 20px;
      margin-right: 20px;
    }
    .ant-btn-default {
      border: $white-button-border;
      color: $white-button-font-color;
      border-radius: $white-button-border-radius;
      font-size: 13px;
      font-weight: 500;

      &:hover {
        border: $white-button-border !important;
        color: $white-button-font-color !important;
        border-radius: $white-button-border-radius !important;
      }
    }
    .anticon-search {
      color: $black !important;
      font-size: 20px;
      cursor: pointer;
    }
    .ant-input-outlined {
      border: $input-border;
      .ant-input {
        color: $black;

        &::placeholder {
          color: $black;
          font-weight: 500;
        }
      }
    }
    .navbar-toggler {
      line-height: 0.5;
      .custom-toggler-icon {
        display: inline-block;
        width: 25px;
        height: 2px;
        background-color: $black;
        position: relative;
      }

      .custom-toggler-icon::before,
      .custom-toggler-icon::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: $black;
        left: 0;
      }

      .custom-toggler-icon::before {
        top: -8px;
      }

      .custom-toggler-icon::after {
        top: 8px;
      }
    }
  }

  .nav__toggle {
    position: relative;
    cursor: pointer;
    z-index: 1001;
    width: 40px;
    height: 34px;
    background-color: $navbar_toggle_button_background;
    border-radius: 5px;

    .nav__burger,
    .nav__close {
      color: $white;
      position: absolute;
      inset: 0;
      margin: auto;
      font-size: 1.25rem;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }

  .last_header {
    background-color: $highlight-color;

    .nav {
      height: 40px;
      position: relative;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
    }
  }
}

// hero Component...
.heroComponent {
  .carousel-indicators {
    margin-bottom: 0.25rem;
    button {
      background-color: $highlight-color;
      border-radius: 50%;
      height: 8px;
      width: 8px;
      margin-right: 6px;
    }
    button.active {
      opacity: 1;
    }
  }
  .carousel-item {
    .carousel-caption {
      .img-text {
        font-size: 16px;
        font-weight: 600;
        color: $highlight-color;
      }
    }
  }

  .carousel-control-prev-icon {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
  }

  .carousel-control-next-icon {
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
  }
}

// whatsapp link section...
.link__section {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 999;

  .hover__container {
    position: relative;
    width: fit-content;

    .link__tags {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:hover {
      .link__tags__scanner {
        display: none;
      }
      .link__tags {
        display: flex;
      }
    }
  }

  .mobile__container {
    position: relative;
    display: inline-block;
  }

  .link__tags__scanner {
    background-color: $highlight-color;
    border-radius: 5px;
  }
}

// service section...
.service {
  .service__inner__section {
    .collapse__menu {
      .ant-collapse-item {
        font-family: "SourceSans3", sans-serif;
        background-color: $collapse_background;
        .ant-collapse-header {
          .ant-collapse-expand-icon {
            position: absolute;
            right: 1%;
            bottom: 25%;
          }
          .ant-collapse-header-text {
            font-size: 16px;
            font-weight: 400;
            color: $black;
          }
        }
        .ant-collapse-content {
          .ant-collapse-content-box {
            border-top: 1px solid #e7dede;
            padding-top: 6px;
            p {
              margin-bottom: 10px;
              font-size: 14px;
              color: $black;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

// body man section...
.body__man {
  .inner__container {
    font-family: "SourceSans3", sans-serif;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    min-height: 290px;

    .guidelines__img {
      position: absolute;
      bottom: -15px;
      right: -15px;
      gap: 4px;

      .guidelines__content {
        font-size: 13px;
        color: transparent;
        font-weight: 500;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 4px;
        transition: all 0.2s ease;
      }

      &:hover .guidelines__content {
        color: $highlight-color;
        border-color: $highlight-color;
      }
    }

    .left__panel {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .section__overview {
        font-size: 15px;
        font-weight: 400;
        color: $black;
      }

      .question__section {
        font-weight: 500;
        font-size: 22px;
        color: $highlight-color;
        line-height: 26px;
      }
    }

    .right__panel {
      flex: 3;
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      height: 290px;
      background-image: url("../../public/assets/landingPage/bg_body.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      .image__wrapper {
        .health__percent {
          margin-left: 40%;
          .body__percent {
            font-size: 28px;
            white-space: nowrap;
            font-weight: 700;
            color: $body_percent;
          }
          .body__percent_text {
            font-size: 16px;
            white-space: nowrap;
            font-weight: 500;
            color: $black;
          }
        }
      }

      .image__container {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }
  .note__text {
    font-weight: 400;
    font-size: 13px;
    color: $black;
  }
}

// india map...
.map__india {
  svg {
    display: inline-block !important;
    position: relative !important;
    vertical-align: middle;
    height: 600px;
    left: 25% !important;
  }
  svg > g > g:nth-child(4) {
    display: none;
  }
  .map__dropdown__section {
    max-width: 160px;
    label {
      font-size: 20px;
      font-weight: 700;
      color: $black;
    }
    .ant-select-focused,
    .ant-select-outlined,
    .ant-select-selector {
      box-shadow: none !important;
      border: transparent !important;
      color: $black;
    }
    .ant-select-selector {
      border: none;
      padding: 0;
      .ant-select-selection-item {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  .map__data_container {
    background-color: $map_data_background;
    border-radius: 5px;
    .key {
      font-size: 13px;
      color: $map_data_color;
    }
    .value {
      font-size: 24px;
      font-weight: 700;
      color: $highlight-color;
      // padding-left: 19px;
    }
  }
  .datamap-state {
    fill: $map_data_color;
  }
}

// Scroll btn...
.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border: none;
  outline: none;
  padding: 10px 12px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 100000;

  &.show {
    opacity: 1;
  }
}

// footer section...
.footer__section {
  color: $white;
  background-color: $footer_bg_color;
  .section {
    gap: 40px;
    .sub__section {
      .section__header {
        font-weight: 700;
        font-size: 18px;
      }

      .key {
        font-weight: 500;
        font-size: 15px;
      }
      .value {
        color: $white;
        text-decoration: none;
        font-size: 14px;
      }
    }
  }
}
.black__footer__section {
  background-color: $black;
  color: $white;
  p {
    font-size: 13px;
    font-weight: 500;
  }
}

@media screen and (min-width: 992px) {
  .nav {
    height: 40px;
    display: flex;
    justify-content: center;
  }

  .nav__toggle {
    display: none;
  }

  .nav__menu {
    width: 100%;
  }

  .nav__list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    .divider {
      border-right: 1px solid $navbar_divider;
      height: 16px;
    }

    .nav__list__li {
      height: 100%;
    }
  }

  .nav__link {
    cursor: pointer;
    color: $white !important;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 0.5rem;
    position: relative;
    transition: all 0.3s ease;
    white-space: nowrap;

    &:active,
    &.active {
      border-bottom: 1px solid $white;
    }
  }

  .dropdown__item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;

    .dropdown__menu {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $white;
      width: 220px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      z-index: 1000;

      .dropdown__menu__li {
        cursor: pointer;
        padding: 0.5rem 1rem;
        transition: all 0.3s ease;
        font-size: 15px;
        font-weight: 500;

        &:hover {
          background-color: $navbar_menu_hover;
        }

        .dropdown__link {
          color: $highlight-color;
        }
      }
    }

    &:hover .dropdown__menu {
      opacity: 1;
      visibility: visible;
    }

    .dropdown__arrow {
      transition: transform 0.3s ease;
      margin-left: 0.25rem;
    }

    &:hover .dropdown__arrow {
      transform: rotate(180deg);
    }
  }

  .dropdown__subitem {
    position: relative;

    .dropdown__submenu {
      position: absolute;
      left: 100%;
      top: 0;
      background-color: $white;
      width: 220px;
      // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;

      .dropdown__submenu__li {
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        padding: 0.5rem 1rem;
        transition: all 0.3s ease;

        &:hover {
          background-color: $navbar_menu_hover;
        }

        .dropdown__sublink {
          color: $highlight-color;
        }
      }
    }

    &:hover .dropdown__submenu {
      opacity: 1;
      visibility: visible;
    }

    .dropdown__add {
      margin-left: auto;
      transition: transform 0.3s ease;
    }

    &:hover .dropdown__add {
      transform: rotate(180deg);
    }
  }

  .service {
    .service__inner__section {
      .collapse__menu {
        display: none;
      }
      .tab__view {
        .ant-tabs-nav {
          margin-bottom: 4px;
          font-family: "SourceSans3", sans-serif;
          &::before {
            border: 1px solid white;
            z-index: 1;
          }
          .ant-tabs-nav-wrap {
            white-space: pre-line;
            .ant-tabs-nav-list {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              .ant-tabs-tab {
                padding: 1.5rem 3.9rem;
                background-color: $collapse_background;
                height: 100%;
                border-radius: 10px 10px 0 0;
                // width: 20%;
                &:hover {
                  color: $black;
                }
                .ant-tabs-tab-btn {
                  width: 100%;
                  .tab__header__text {
                    font-size: 16px;
                    font-weight: 400;
                    color: $black;
                  }
                }
              }
              .ant-tabs-tab + .ant-tabs-tab {
                margin-left: 6px;
              }
              .ant-tabs-tab-active {
                background-color: $highlight-color;
                .tab__header__text {
                  font-weight: 500;
                  color: $white !important;
                }
              }
            }
          }
        }
        .ant-tabs-content-holder {
          .ant-tabs-tabpane {
            padding: 20px;
            background: $collapse_background;
            border-radius: 0 0 10px 10px;
          }
          p {
            font-size: 14px;
            color: $black;
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .heroComponent {
    .carousel-caption {
      .img-text {
        font-size: 14px !important;
      }
      img {
        width: 100px;
        height: 30px;
      }
    }
  }

  .map__india {
    svg {
      left: 23% !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  .btn__colored {
    font-size: 13px;
  }
  .btn__outlined {
    font-size: 13px;
  }
  .body__man {
    .inner__container {
      .left__panel {
        flex: 1;
      }
      .right__panel {
        flex: 1;
        .body__percent {
          font-size: 18px !important;
        }
      }
    }
  }

  .heroComponent {
    .carousel-indicators {
      margin-bottom: 0.1rem;
      button {
        width: 7px;
        height: 7px;
        margin-right: 5px;
      }
    }
    .carousel-caption {
      .img-text {
        font-size: 12px !important;
      }
      img {
        width: 90px;
        height: 27px;
      }
    }
  }

  .map__india {
    svg {
      left: 10% !important;
      height: 500px;
    }
  }
}

@media screen and (max-width: 991px) {
  main .last_header .nav {
    height: 0;
  }
  .nav__menu {
    max-height: 500px;
    position: fixed;
    left: 0;
    top: -100%;
    width: 80%;
    background-color: $highlight-color;
    transition: top 0.4s ease;
    z-index: 1000;
    overflow-y: scroll;

    &.show-menu {
      top: 26px;
    }

    .nav__list {
      background-color: $highlight-color;
      padding-top: 1rem;
      padding-bottom: 1rem;
      li {
        .nav__link {
          color: $white;
          padding: 1rem 1.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          transition: background-color 0.3s;

          &:hover {
            background-color: darken($highlight-color, 10%);
          }
        }
      }

      .dropdown__item {
        cursor: pointer;

        .dropdown__menu,
        .dropdown__submenu {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.4s ease-out;

          .dropdown__menu__li,
          .dropdown__submenu__li {
            padding: 10px 40px;

            &:hover {
              background-color: darken($highlight-color, 10%);
            }
          }
        }

        .dropdown__arrow {
          font-size: 1.25rem;
          transition: transform 0.4s;
        }

        .dropdown__link,
        .dropdown__sublink {
          color: $white;
          font-weight: 500;
        }
      }

      .dropdown__item:hover .dropdown__menu,
      .dropdown__subitem:hover > .dropdown__submenu {
        max-height: 1000px;
        transition: max-height 0.4s ease-in;
      }

      .dropdown__item:hover .dropdown__arrow {
        transform: rotate(180deg);
      }
    }
  }

  .nav__menu::-webkit-scrollbar {
    width: 0;
  }

  .show-menu {
    opacity: 1;
    pointer-events: initial;
  }

  .heroComponent {
    .carousel-indicators {
      margin-bottom: 0;
      button {
        width: 6px;
        height: 6px;
        margin-right: 4px;
      }
    }
    .carousel-caption {
      bottom: 4% !important;
      .img-text {
        margin-bottom: 0.2rem;
        font-size: 10px !important;
      }
      img {
        width: 70px;
        height: 21px;
      }
    }
  }

  .show-icon {
    .nav__burger {
      opacity: 0;
      transform: rotate(90deg);
    }
    .nav__close {
      opacity: 1;
      transform: rotate(90deg);
    }
  }

  .body__man {
    .inner__container {
      display: flex;
      flex-direction: column;
      .guidelines__img {
        right: 0px;
      }
      .left__panel {
      }
      .right__panel {
      }
    }
  }

  .service {
    .service__inner__section {
      .tab__view {
        display: none;
      }
    }
  }

  .map__india {
    svg {
      left: 18% !important;
      height: 500px;
    }
  }
}

@media (max-width: 768px) {
  .mid_header {
    .ministry_image {
      width: 28%;
    }
    .eraktkosh_image {
      width: 42%;
    }

    .anticon-search {
      font-size: 15px !important;
    }
  }

  .heroComponent {
    .carousel-indicators [data-bs-target] {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }
    .carousel-caption {
      bottom: 2% !important;
      .img-text {
        margin-bottom: 0.1rem;
        font-size: 8px !important;
      }
      img {
        width: 50px;
        height: 15px;
      }
    }
  }

  .map__india {
    svg {
      left: 10% !important;
      height: 500px;
    }
  }
}

@media screen and (max-width: 576px) {
  .heroComponent {
    .carousel-indicators [data-bs-target] {
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;

      button {
        width: 5px;
        height: 5px;
        margin-right: 3px;
      }
    }
    .carousel-caption {
      bottom: -2% !important;
      .img-text {
        margin-bottom: 0;
        font-size: 8px !important;
      }
      img {
        width: 50px;
        height: 15px;
      }
    }
  }

  .body__man {
    .inner__container {
      .right__panel {
        display: block;

        .health__percent {
          margin-left: 15% !important;
        }
      }
    }
  }

  .map__india {
    svg {
      left: 0% !important;
      height: 450px;
    }
  }
}

@media screen and (max-width: 463px) {
    .map__india {
    svg {
      left: 0% !important;
      height: 350px;
    }
  }
}

@media screen and (max-width: 362px) {
    .map__india {
    svg {
      left: 0% !important;
      height: 300px;
    }
  }
}