// header...
$header-bg-color: #ebebeb;

// text color...
$primary-text-color: #000;
$highlight-color: #7f0210;
$black: #000;
$white: #fff;

// antd border red button...
$white-button-border: 1px solid #7f0210;
$white-button-font-color: #7f0210;
$white-button-border-radius: 5px;

// input field...
$input-border: 1px solid #c3bcbc;

$navbar_toggle_button_background: rgb(205 202 203);
$navbar_divider: #bf7777;
$navbar_menu_hover: #e7e7e7;

$body_percent: #5288c7;

$collapse_background: #f7f7f7;
$color_transparent: transparent;

$footer_bg_color: #434343;